{% extends 'base.html' %}
{% load humanize %}

{% block title %}Main Page {% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 my-4">
            <form action="" autocomplete="off" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-9">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">From</span>
                            <input type="text" class="form-control" id="startDate" name="startDate">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon2">To</span>
                            <input type="text" class="form-control" id="endDate" name="endDate">
                        </div>
                    </div>
                    <div class="col-3">
                        <input class="btn btn-primary" type="submit" value="검색">
                    </div>
                </div>
                {% if startDate != 'None' %}
                    <div class="alert alert-primary my-4">
                        <p>{{startDate}} 부터 {{endDate}} 까지의 원금자산(입금내역) 입니다.</p>
                    </div>
                {% endif %}
            </form>
            <hr>
        </div>
        <div class="col-12">
            <div class="row">
                {% for d in data %}
                    <div class="col-sm-4 col-6">
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-3">
                                    <img src="{{d.0.account_img.url}}" class="img-fluid rounded" alt="...">
                                </div>
                                <div class="col-md-9">
                                    <div class="card-body">
                                        <h5 class="card-title">{{d.0.account_name}}</h5>
                                        <p class="card-text">{{d.0.description}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table class="table table-sm">
                            <tr>
                                <td>
                                    <span style="font-size:0.8em">원금 계</span>
                                    <a href="#" id="data_{{forloop.counter}}" class="" data-bs-toggle="modal" data-bs-target="#exampleModal_{{forloop.counter}}">
                                        <i class="fas fa-search-plus" style="font-size:0.8em"></i>
                                    </a>
                                </td>
                                <td>
                                    <span style="float:right">{{d.2|intcomma}}</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal_{{forloop.counter}}" tabindex="-1" aria-labelledby="exampleModalLabel_{{forloop.counter}}" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content" style="height:70vh!important">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">{{d.0.account_name}}</h5>
                                </div>
                                <div class="modal-body">
                                    <table class="table table-sm table-hover">
                                        <thead>
                                            <tr>
                                                <th>날짜</th>
                                                <th>금액</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for s in d.1 %}
                                                <tr>
                                                    <td><span class="badge bg-secondary">{{s.created|date:'Y-m-d'}}</span></td>
                                                    <td><span style="float:right">{{s.inAndOut|intcomma}}</span></td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">닫기</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $("#startDate").datepicker({
            format:'yyyy-mm-dd',
        });
    });
    $(function () {
        $("#endDate").datepicker({
            format:'yyyy-mm-dd',
        });
    });
</script>
{% endblock %}