{% extends 'base.html' %}
{% load humanize %}
{% load mathfilters %}

{% block title %}개요{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 my-4">
            <form action="" autocomplete="off" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-9">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">날짜</span>
                            <input type="text" class="form-control" id="startDate" name="startDate" value="{{inputStartDate}}" placeholder="2021-01-01">
                            <span class="input-group-text">부터</span>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon2">날짜</span>
                            <input type="text" class="form-control" id="endDate" name="endDate" value="{{inputEndDate}}" placeholder="2021-01-01">
                            <span class="input-group-text">까지</span>
                        </div>
                    </div>
                    <div class="col-3">
                        <input class="btn btn-primary" type="submit" value="검색">
                    </div>
                </div>
                {% if startDate != 'None' %}
                    <div class="alert alert-primary my-4">
                        <p>{{startDate}} 부터 {{endDateForList}} 까지의 입금내역입니다.</p>
                        <p><span style="font-size:1.2em;font-weight:700">{{total_deposit_sum|intcomma}} 원</span></p>
                    </div>
                {% endif %}
            </form>
            <hr>
        </div>
        <div class="col-1 my-4">
            <form action="" autocomplete="off" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-12 d-none">
                        <div class="input-group mb-3 d-none">
                            <span class="input-group-text" id="basic-addon1">날짜</span>
                            <input type="text" class="form-control" id="startDate" name="startDate" value="2020-01-01" placeholder="2021-01-01">
                            <span class="input-group-text">부터</span>
                        </div>
                        <div class="input-group mb-3 d-none">
                            <span class="input-group-text" id="basic-addon2">날짜</span>
                            <input type="text" class="form-control" id="endDate" name="endDate" value="2020-12-31" placeholder="2021-01-01">
                            <span class="input-group-text">까지</span>
                        </div>
                    </div>
                    <div class="col-12">
                        <input class="btn btn-success btn-sm" type="submit" value="2020">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-1 my-4">
            <form action="" autocomplete="off" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-12 d-none">
                        <div class="input-group mb-3 d-none">
                            <span class="input-group-text" id="basic-addon1">날짜</span>
                            <input type="text" class="form-control" id="startDate" name="startDate" value="2020-01-01" placeholder="2021-01-01">
                            <span class="input-group-text">부터</span>
                        </div>
                        <div class="input-group mb-3 d-none">
                            <span class="input-group-text" id="basic-addon2">날짜</span>
                            <input type="text" class="form-control" id="endDate" name="endDate" value="2020-12-31" placeholder="2021-01-01">
                            <span class="input-group-text">까지</span>
                        </div>
                    </div>
                    <div class="col-12">
                        <input class="btn btn-success btn-sm" type="submit" value="2020">
                    </div>
                </div>
            </form>
        </div>
        <hr>
        <div class="col-12 my-4">
            <h3><span style="font-weight:600">{{today}}</span><br><span style="font-weight:600">또또맘's 자산리포트입니다. </span></h3>
            <h6>
                <span style="font-weight:400">{{last_update.0.created}}에 마지막으로 업데이트하였습니다.</span>
            </h6>

            <div class="col-11 my-5">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">원금<span style="float:right;font-size:1.8em;font-weight:700">{{filtered_deposit_sum|intcomma}} <span style="font-size:0.8em">원</span></span></li>
                    <li class="list-group-item">자산 <a href="{% url 'home:chart-asset' %}" class="btn btn-sm btn-dark rounded"><i class="fas fa-chart-line"></i></a><span style="float:right;font-size:1.8em;font-weight:700">{{total_asset_sum|intcomma}} <span style="font-size:0.8em">원</span></span></li>
                    <li class="list-group-item">손익금<span style="float:right;font-size:1.8em;font-weight:700"><span id="grossIncome" class="grossIncome">{{total_asset_sum|sub:filtered_deposit_sum|intcomma}}</span> <span style="font-size:0.8em" class="grossIncome">원</span></span></li>
                    <li class="list-group-item">손익률<span class="grossIncomeRate" style="float:right;font-size:1.5em;font-weight:500">{{income_rate|floatformat:2}} <span style="font-size:0.8em">%</span></span></li>
                </ul>
            </div>
            <hr>
        </div>
        <div class="col-12">
            <div class="row">
                {% for d in data %}
                    <div class="col-sm-4 col-6 my-3">
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-3">
                                    <img src="{{d.0.account_img.url}}" class="img-fluid rounded" alt="...">
                                </div>
                                <div class="col-md-9">
                                    <div class="card-body">
                                        <h5 class="card-title">{{d.0.account_name}}</h5>
                                        <p class="card-text">{{d.0.description}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table class="table table-sm">
                            <tr>
                                <td>
                                    <span style="font-size:0.8em">원금</span>
                                    <a href="#" id="data_{{forloop.counter}}" class="" data-bs-toggle="modal" data-bs-target="#exampleModal_{{forloop.counter}}">
                                        <i class="fas fa-search-plus" style="font-size:0.8em"></i>
                                    </a>
                                </td>
                                <td>
                                    <span style="float:right;font-weight:600">{{d.2|intcomma}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span style="font-size:0.8em">자산</span>
                                    <a href="#" id="asset_{{forloop.counter}}" class="" data-bs-toggle="modal" data-bs-target="#assetModal_{{forloop.counter}}">
                                        <i class="fas fa-chart-bar" style="font-size:0.8em"></i>
                                    </a>
                                </td>
                                <td>
                                    <span style="float:right;font-weight:600">{{d.4|intcomma}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td rowspan="2">
                                    <span style="font-size:0.8em">손익</span>
                                </td>
                                <td>
                                    <span id="indiIncome_{{forloop.counter}}" style="float:right;font-weight:600">{{d.4|sub:d.2|intcomma}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span id="indiIncomeRate_{{forloop.counter}}" style="float:right;font-weight:600">
                                        {% if d.2 != 0 %}
                                            {{d.4|sub:d.2|div:d.2|mul:100|floatformat:2}}<span style="font-size:0.75em">&nbsp;%</span>
                                        {% else %}
                                            -<span style="font-size:0.75em">&nbsp;%</span>
                                        {% endif %}
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal_{{forloop.counter}}" tabindex="-1" aria-labelledby="exampleModalLabel_{{forloop.counter}}" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content" style="height:70vh!important">
                                <div class="modal-header">
                                    <h6 class="modal-title" id="exampleModalLabel">{{d.0.account_name}} 입출금 내역</h6>
                                </div>
                                <div class="modal-body">
                                    <table class="table table-sm table-hover">
                                        <thead>
                                            <tr>
                                                <th>날짜</th>
                                                <th>금액</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for s in d.1 %}
                                                <tr>
                                                    <td><span class="badge bg-secondary">{{s.created|date:'Y-m-d'}}</span></td>
                                                    <td><span style="float:right">{{s.inAndOut|intcomma}}</span></td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">닫기</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $("#startDate").datepicker({
            format:'yyyy-mm-dd',
        });
    });
    $(function () {
        $("#endDate").datepicker({
            format:'yyyy-mm-dd',
        });
    });
</script>
<script>
$(document).ready(function(){
    if(parseInt(document.getElementById("grossIncome").innerText.replaceAll(",","")) > 0){
         $(".grossIncome").addClass("text-danger");
         $(".grossIncomeRate").addClass("text-danger");
    } else if(parseInt(document.getElementById("grossIncome").innerText.replaceAll(",","")) < 0){
        $(".grossIncome").addClass("text-primary");
        $(".grossIncomeRate").addClass("text-primary");
    }
});
$(document).ready(function(){
    {% for d in data %}
        if(parseInt({{d.4|sub:d.2}}) > 0){
            $("#indiIncome_{{forloop.counter}}").addClass("text-danger");
            $("#indiIncomeRate_{{forloop.counter}}").addClass("text-danger");
        }else if(parseInt({{d.4|sub:d.2}}) < 0){
            $("#indiIncome_{{forloop.counter}}").addClass("text-primary");
            $("#indiIncomeRate_{{forloop.counter}}").addClass("text-primary");
        }
    {% endfor %}
});
</script>
{% endblock %}