{% extends 'base.html' %}
{% block title %}로그인{% endblock %}

{% block content %}
<div class="container">
    <div class="row my-5">
        <div class="col-md-2"></div>
        <div class="col-md-8 my-2 panel panel-default">
            <div class="alert alert-info mb-5">
                <center><span style="font-size:1.2em;font-weight:600">식별코드를 입력하세요!</span></center>
            </div>
            <form action="" method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="d-none">
                            <td>
                                {{ form.username.errors }}
                                <label for="id_username" class="">ID(or Name):</label>
                            </td>
                            <td>
                                <input type="text" class="form-control form-control-sm px-4" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" value="admin" id="id_username">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ form.password.errors }}
                                <label for="id_password" class="">코드:</label>
                            </td>
                            <td>
                                <input type="password" class="form-control rounded-pill" name="password" autocomplete="current-password" required="" id="id_password">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <center>
                    <input class="btn btn-primary my-3 mx-4 rounded-pill" type="submit" value="입력하기">
                </center>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock %}