{% extends 'base.html' %}
{% block title %}로그아웃{% endblock %}

{% block content %}
<div class="container">
    <div class="row my-5">
        <div class="col-md-2"></div>
        <div class="col-md-8 my-2 panel panel-default" style="height:50vh">
            <div class="alert alert-info my-3">성공적으로 로그아웃 되었습니다.</div>
            <a class="btn btn-primary my-5" href="{% url 'account:login'%}" style="float:right">로그인 화면으로 이동</a>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock %}