{% extends 'base.html' %}

{% block title %}로그인페이지로 이동{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 panel panel-default">
            <div class="alert alert-info">
                <p>로그인이 필요한 서비스입니다.</p>
                <p>로그인 화면으로 이동 <a class="btn btn-sm btn-primary" href="{% url 'accounts:login' %}">로그인</a></p>
            </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock %}